/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import 'izitoast/dist/css/iziToast.min.css';
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html {
  font-size: 13px;
}

/* Ajuste para pantallas de laptop */
/* @media (min-width: 1024px) and (max-width: 1440px) {

  body {
    zoom: 0.9;
  }
} */

/* body {
  zoom: 0.9;
} */
